* {
    margin: 0px;
    padding: 0px;

    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#borda {
    width: 1200px;
    height: 500px;

    background-color: rgba(165, 42, 42, 0.100);

    border-style: solid;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tela {
    width: 90%;
    height: 400px;

    background-color: white;

    border-style: solid;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#resultadoEleicoes {
    font-size: 40px;
    font-weight: bolder;
}

.dados {
    margin-top: 4px;
    
    font-size: 20px;
    font-weight: bold;

    display: flex;
}

.dados .tituloVotos, #votosValidosVereadorText, #votosValidosPrefeitoText {
    margin-top: 20px;
}

.votosText, #votosNulosText, #votosBrancosText {
    padding-left: 10px;
}